//MyToggles.scss

@mixin btn-style($color) {
    border-color: $color;;
    background-color: $color;
}

.btn-set {
    margin-top: 3px;
    .btn-child {
      margin-left: 1px;
      cursor: pointer;
      display: inline-block;
      font-weight: 400;
      color: #6c757d;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      border-color: #6c757d;
      
      &:hover {
        font-weight: bolder;
        border-color: black;
      }
    }
  
    .selected {
      color: #fff;
      @include btn-style(rgb(255, 65, 97));
    }
  }